{
    "presets": ["@babel/preset-typescript", "@babel/preset-env"],
    "plugins": [
        [
            "module-resolver", 
            {
                "alias": {
                    "types": "./types",
                    "logic": "./logic"
                }
            }
        ]
    ]
}